<nav class="nav-container">
  <div class="nav-items flex flex-row justify-center items-center h-12 gap-20">
    <a routerLink="/home" class="selected"
      ><span class="hashtag">#</span>inicio</a
    >
    <a routerLink="/home"><span class="hashtag">#</span>sobre mi</a>
    <a routerLink="/home"><span class="hashtag">#</span>habilidades</a>
    <a routerLink="/home"><span class="hashtag">#</span>experiencia</a>
    <a routerLink="/home"><span class="hashtag">#</span>contacto</a>
  </div>
  <div class="nav-hamburger flex flex-row justify-end items-center h-12">
    <div class="space-y-2">
      <div class="w-8 h-0.5 bg-gray-600"></div>
      <div class="w-8 h-0.5 bg-gray-600"></div>
      <div class="w-8 h-0.5 bg-gray-600"></div>
    </div>
  </div>
</nav>
