@import "./../app.component.scss";

a {
  color: $nav-bar-font;
}

.selected {
  color: $white;
}

.hashtag {
  color: $primary;
}

@media (max-width: 768px) {
  .nav-items {
    display: none !important;
  }
}

// @media (min-width: 769px) {
//   .nav-hamburger {
//     display: none !important;
//   }
// }
