<div class="background py-1">
  <section class="about-container mx-12 my-24">
    <app-section-header [title]="'Sobre mi'"></app-section-header>
    <div
      class="about-content flex flex-row justify-between max-xl:justify-center max-xl:text-center max-xl:mt-5 items-center"
    >
      <div class="about-texts flex flex-col gap-4 mt-5">
        <h4 class="text-lg font-normal">
          Mi nombre es
          <span class="color-primary font-semibold"
            >Gabriel Maximiliano Barraza</span
          >
        </h4>
        <h3 class="text-xl font-normal">
          Desarrollador Full Stack con experiencia en
          <span class="color-primary font-semibold">Angular</span> y
          <span class="color-primary font-semibold">Laravel</span>
        </h3>
        <p class="text-lg font-normal">
          Disfruto colaborar en el desarrollo de soluciones que cumplan con los
          estándares de arquitectura y las mejores prácticas de programación,
          como también compartir conocimiento e ideas con los demás y aprender
          de sus experiencias 🚀
        </p>
      </div>

      <div class="about-image max-xl:hidden">
        <img src="assets/about-img.svg" alt="about-me" />
      </div>
    </div>
  </section>
</div>
