@import "./../app.component.scss";

.about-container {
  max-width: 100%;
  .about-content {
    .about-texts {
      max-width: 60%;
      color: $white;
      .color-primary {
        color: $primary;
      }
    }
  }
}

// @media (max-width: 768px) {
//   .about-content {
//     .about-image {
//       display: none !important;
//       width: 1%;
//     }
//     .about-texts {
//       display: flex;
//       flex-direction: column;
//       justify-content: center !important;
//       align-items: center;
//       text-align: center;
//     }
//   }
// }

// @media (min-width: 769px) {
// }
