<div class="background py-1">
  <section class="contact-container mx-12 my-5 md:my-24">
    <app-section-header [title]="'Contacto'"></app-section-header>
    <div class="contact-content mt-8">
      <div
        class="main-contact flex flex-col-reverse gap-8 md:flex-row justify-center md:justify-around items-center"
      >
        <div
          class="flex flex-col text-center justify-center items-center gap-3"
        >
          <h3 class="color-white">Email</h3>
          <h3 class="color-primary font-semibold">
            {{ "barrazagabrielm@gmail.com" }}
          </h3>
        </div>
        <div class="button-container flex flex-row justify-center items-center">
          <button
            class="font-semibold hover:text-white py-2 px-4 border hover:border-transparent rounded-xl text-xl"
          >
            <a class="m-5">Descargar CV</a>
          </button>
        </div>
      </div>
    </div>
    <div class="social-media-container mt-9">
      <div
        class="social-media flex flex-row justify-center items-center gap-12 text-center"
      >
        <div class="flex flex-col justify-center items-center gap-1">
          <h3 class="color-white">Linkedin</h3>
          <a
            href="https://www.linkedin.com/in/maxibarraza/"
            target="_blank"
            class="color-primary font-semibold"
            >in/maxibarraza</a
          >
        </div>
        <div class="flex flex-col justify-center items-center gap-1">
          <h3 class="color-white">Github</h3>
          <a
            href="https://github.com/maxigbarraza1"
            target="_blank"
            class="color-primary font-semibold"
            >ghub/maxigbarraza1</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
