@import "./../app.component.scss";

button {
  border-color: $primary;
  color: $white;
  &:hover {
    background-color: $primary;
  }
}

.color-white {
  color: $white;
}

.color-primary {
  color: $primary;
}
