$background: #282c33;
$lg-gray: #8491a0;
$primary: hsla(287, 60%, 67%, 1);
$white: #fff;
$nav-bar-font: hsla(219, 14%, 71%, 1);
$images-color-bg: hsla(287, 60%, 67%, 0.3);

.wrapper {
  background-color: $background;
  font-family: "Poppins", sans-serif;
}
