@if (experience) {
<div class="flex flex-col my-9">
  <div
    class="item-header-container flex flex-col gap-2 md:gap-0 md:flex-row justify-between items-start md:items-center"
  >
    <div
      class="group flex flex-col md:flex-row gap-2 md:gap-5 items-start md:items-center"
    >
      <div class="item-title-container">
        <h2 class="item-title text-2xl font-bold color-primary">
          {{ experience.position }}
        </h2>
      </div>
      <div class="item-subtitle-container">
        <a
          class="item-subtitle color-white"
          [href]="'http://' + experience.companyUrl"
          >{{ experience.company }}</a
        >
      </div>
    </div>
    <div class="item-date-container">
      <h3 class="item-date color-gray">{{ experience.date }}</h3>
    </div>
  </div>
  <p class="item-description color-gray mt-4 text-center md:text-left">
    {{ experience.description }}
  </p>
  <p class="item-description color-gray mt-1 text-center md:text-left">
    Las tecnologias a destacar son:
    <span class="text-white">{{ experience.stack }}</span>
  </p>
</div>
}
