<section
  class="home-container flex flex-col justify-center items-center gap-4 text-left"
>
  <h1 class="text-5xl font-bold w-2/3">
    ¡Hola, soy <span class="color-primary">Maxi</span>!
  </h1>
  <h3 class="text-xl font-normal w-2/3 leading-7">
    +2 años de experiencia. Desarrollador Full Stack con experiencia en
    <span class="color-primary font-semibold">Angular</span> y
    <span class="color-primary font-semibold">Laravel</span>. De Argentina,
    Buenos Aires 🇦🇷. <br />Disfruto colaborar en el desarrollo de soluciones que
    cumplan con los estándares de arquitectura y las mejores prácticas de
    programación, como también compartir conocimiento e ideas con los demás y
    aprender de sus experiencias 🚀
  </h3>
  <button
    class="font-semibold hover:text-white py-2 px-4 border hover:border-transparent rounded-xl mt-10 text-xl"
  >
    <a class="m-5" routerLink="/about">Sobre mí</a>
  </button>
</section>
