@import "./../app.component.scss";

.color-primary {
  color: $primary;
}

.home-container {
  background-image: url("./../../assets/home-bg.svg");
  height: calc(100vh - 5rem);
  color: white;
  h1 {
    letter-spacing: 4px;
  }

  button {
    border-color: $primary;
    color: $white;
    &:hover {
      background-color: $primary;
    }
  }
}

@media (max-width: 768px) {
  .home-container {
    height: 100%;
  }
}
